<div>
  <form [formGroup]="criterSearchForm">
    <div>งวดประจำวันที่ : 
      <select formControlName="periodDate">
        <option *ngFor="let period of periodDateList" value="period.value">{{period.desc}}</option>
      </select>
    </div>
    <div>
      เลขล็อตเตอรี่ : <input type="number" formControlName="lottoNumber"/>
      <span *ngIf="resultMessage" [innerHTML]="resultMessage"></span>
    </div>
    <div>
      <button (click)="onSearch()">ตรวจ</button>&nbsp;<button (click)="onClear()">ล้าง</button>
    </div>
  </form>
</div>